# Building a Dataset and then Using it in Stata

Let's construct a Dataset for a Gravity Model Regression

In [1]:
import pandas as pd

## Data

The data can be found in the `data` directory and is contained in two files

1. `data/exports_2013.csv` -- Data From Comtrade
2. `data/cepii_2013.csv` -- Date from Cepii

These datasets have been shrunk to just 1-year due to size of files. 

But this exercise can be expanded into a proper panel setting with multiple years

When working with data that has the potential to be moderately large it is always a good idea to bring in just a few rows initially to see what the data file contains. 

This allows you to review the contents and select the data that you actually need through `column` selectors etc.

In [2]:
exports = pd.read_csv("data/exports_2013.csv", nrows=10)

In [3]:
exports

   year iiso3c eiso3c       value
0  2013    ABW    BEL    774353.0
1  2013    ABW    BHS   4712537.0
2  2013    ABW    CHE  17812626.0
3  2013    ABW    CHN  25319168.0
4  2013    ABW    COL  22160086.0
5  2013    ABW    DOM   9316793.0
6  2013    ABW    ESP   8708237.0
7  2013    ABW    FRA  13262797.0
8  2013    ABW    GBR  88157843.0
9  2013    ABW    JAM   2428953.0

We now bring in all the `trade` data from the `csv` file as the data isn't too large to work with and we want to use all the columns

In [4]:
exports = pd.read_csv("data/exports_2013.csv")

In [5]:
exports

       year iiso3c eiso3c       value
0      2013    ABW    BEL    774353.0
1      2013    ABW    BHS   4712537.0
2      2013    ABW    CHE  17812626.0
3      2013    ABW    CHN  25319168.0
4      2013    ABW    COL  22160086.0
...     ...    ...    ...         ...
22690  2013    IRQ    JOR         NaN
22691  2013    IRQ    LBN         NaN
22692  2013    IRQ    LBY         NaN
22693  2013    IRQ    SYR         NaN
22694  2013    IRQ    TUR         NaN

[22695 rows x 4 columns]

**Cepii** provides a dataset for `gravity` models that includes country-pairs with data relating to those countries as:
1. country pair properties such as distance between them
2. and `country` properties such as `gdp` in a given year

In this case the source file just contains `2013` data

In [6]:
cepii = pd.read_csv("data/cepii_2013.csv")

In [7]:
cepii

,year,iso3_o,iso3_d,iso3num_o,iso3num_d,contig,comlang_off,comcol,dist,distcap,distw,distwces,pop_o,pop_o.1,gdp_o,gdp_d,gdpcap_o,gdpcap_d
0,2013,ABW,ABW,533.0,533.0,0.0,0.0,0.0,5.225,5.225,25.094,23.047,102.911,102.911,NaN,NaN,NaN,NaN
1,2013,ABW,AFG,533.0,4.0,0.0,0.0,0.0,13257.814,13257.814,13168.224,13166.367,102.911,102.911,NaN,2.030967e+07,NaN,0.665
2,2013,ABW,AGO,533.0,24.0,0.0,0.0,0.0,9516.913,9516.913,9587.316,9584.193,102.911,102.911,NaN,1.241782e+08,NaN,5.783
3,2013,ABW,AIA,533.0,660.0,0.0,0.0,0.0,983.268,983.268,976.897,976.892,102.911,102.911,NaN,NaN,NaN,NaN
4,2013,ABW,ALB,533.0,8.0,0.0,0.0,0.0,9091.742,9091.742,9091.576,9091.466,102.911,102.911,NaN,1.292324e+07,NaN,4.659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61499,2013,ZWE,YMD,716.0,720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14149.648,14149.648,1.349000e+07,NaN,0.953,NaN
61500,2013,ZWE,YUG,716.0,890.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14149.648,14149.648,1.349000e+07,NaN,0.953,NaN
61501,2013,ZWE,ZAF,716.0,710.0,1.0,1.0,0.0,2186.206,926.174,1258.552,1101.438,14149.648,14149.648,1.349000e+07,3.506301e+08,0.953,6.618
61502,2013,ZWE,ZMB,716.0,894.0,1.0,1.0,1.0,396.804,396.804,583.795,525.073,14149.648,14149.648,1.349000e+07,2.682087e+07,0.953,1.845
61503,2013,ZWE,ZWE,716.0,716.0,0.0,0.0,0.0,235.119,235.119,199.821,67.838,14149.648,14149.648,1.349000e+07,1.349000e+07,0.953,0.953

In [8]:
cepii.columns

Index(['year', 'iso3_o', 'iso3_d', 'iso3num_o', 'iso3num_d', 'contig',
       'comlang_off', 'comcol', 'dist', 'distcap', 'distw', 'distwces',
       'pop_o', 'pop_o.1', 'gdp_o', 'gdp_d', 'gdpcap_o', 'gdpcap_d'],
      dtype='object')

Let's see what columns the exports data contains

In [9]:
exports.columns

Index(['year', 'iiso3c', 'eiso3c', 'value'], dtype='object')

Now we could merge this information together indexed by `year, iiso3c, eiso3c` (for exports) and `year, iso3_d, iso3_o` (for cepii)

In [10]:
exports.merge(cepii, how='left', left_on=['year', 'iiso3c', 'eiso3c'], right_on=['year', 'iso3_d', 'iso3_o'])

,year,iiso3c,eiso3c,value,iso3_o,iso3_d,iso3num_o,iso3num_d,contig,comlang_off,...,dist,distcap,distw,distwces,pop_o,pop_o.1,gdp_o,gdp_d,gdpcap_o,gdpcap_d
0,2013,ABW,BEL,774353.0,BEL,ABW,56.0,533.0,0.0,1.0,...,7847.070,7847.070,7843.255,7843.006,11195.138,11195.138,5.248055e+08,NaN,46.878,NaN
1,2013,ABW,BHS,4712537.0,BHS,ABW,44.0,533.0,0.0,0.0,...,1588.515,1588.515,1634.515,1628.143,377.374,377.374,8.420000e+06,NaN,22.312,NaN
2,2013,ABW,CHE,17812626.0,CHE,ABW,756.0,533.0,0.0,0.0,...,8056.332,8056.332,8074.210,8073.511,8081.482,8081.482,6.854342e+08,NaN,84.815,NaN
3,2013,ABW,CHN,25319168.0,CHN,ABW,156.0,533.0,0.0,0.0,...,14155.351,14155.351,14590.924,14560.277,1357380.005,1357380.005,9.240271e+09,NaN,6.807,NaN
4,2013,ABW,COL,22160086.0,COL,ABW,170.0,533.0,0.0,1.0,...,1036.634,1036.634,929.589,861.245,48321.404,48321.404,3.784153e+08,NaN,7.831,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22690,2013,IRQ,JOR,NaN,JOR,IRQ,400.0,368.0,1.0,1.0,...,811.116,811.116,872.717,859.304,6459.000,6459.000,3.367850e+07,2.293273e+08,5.214,6.862
22691,2013,IRQ,LBN,NaN,LBN,IRQ,422.0,368.0,0.0,1.0,...,830.012,830.012,875.264,857.289,4467.390,4467.390,4.435242e+07,2.293273e+08,9.928,6.862
22692,2013,IRQ,LBY,NaN,LBY,IRQ,434.0,368.0,0.0,1.0,...,2911.806,2911.806,2706.425,2650.742,6201.521,6201.521,7.419953e+07,2.293273e+08,11.965,6.862
22693,2013,IRQ,SYR,NaN,SYR,IRQ,760.0,368.0,1.0,1.0,...,754.075,754.075,761.694,707.888,22845.551,22845.551,NaN,2.293273e+08,NaN,6.862
22694,2013,IRQ,TUR,NaN,TUR,IRQ,792.0,368.0,1.0,0.0,...,1614.773,1266.872,1353.151,1191.041,74932.640,74932.640,8.221352e+08,2.293273e+08,10.972,6.862

But one simplification strategy is to choose a common set of `index` column variables to make `merge` operations easier to read

In [11]:
exports.columns = ['year', 'iso3_d','iso3_o', 'evalue']

In [12]:
exports

       year iso3_d iso3_o      evalue
0      2013    ABW    BEL    774353.0
1      2013    ABW    BHS   4712537.0
2      2013    ABW    CHE  17812626.0
3      2013    ABW    CHN  25319168.0
4      2013    ABW    COL  22160086.0
...     ...    ...    ...         ...
22690  2013    IRQ    JOR         NaN
22691  2013    IRQ    LBN         NaN
22692  2013    IRQ    LBY         NaN
22693  2013    IRQ    SYR         NaN
22694  2013    IRQ    TUR         NaN

[22695 rows x 4 columns]

Reorganising the columns to be in `origin` then `destination` order

In [13]:
dataset = exports[['year', 'iso3_o', 'iso3_d', 'evalue']]

In [14]:
dataset = dataset.merge(cepii, how='left', on=['year', 'iso3_o', 'iso3_d'])

In [15]:
dataset

,year,iso3_o,iso3_d,evalue,iso3num_o,iso3num_d,contig,comlang_off,comcol,dist,distcap,distw,distwces,pop_o,pop_o.1,gdp_o,gdp_d,gdpcap_o,gdpcap_d
0,2013,BEL,ABW,774353.0,56.0,533.0,0.0,1.0,0.0,7847.070,7847.070,7843.255,7843.006,11195.138,11195.138,5.248055e+08,NaN,46.878,NaN
1,2013,BHS,ABW,4712537.0,44.0,533.0,0.0,0.0,0.0,1588.515,1588.515,1634.515,1628.143,377.374,377.374,8.420000e+06,NaN,22.312,NaN
2,2013,CHE,ABW,17812626.0,756.0,533.0,0.0,0.0,0.0,8056.332,8056.332,8074.210,8073.511,8081.482,8081.482,6.854342e+08,NaN,84.815,NaN
3,2013,CHN,ABW,25319168.0,156.0,533.0,0.0,0.0,0.0,14155.351,14155.351,14590.924,14560.277,1357380.005,1357380.005,9.240271e+09,NaN,6.807,NaN
4,2013,COL,ABW,22160086.0,170.0,533.0,0.0,1.0,0.0,1036.634,1036.634,929.589,861.245,48321.404,48321.404,3.784153e+08,NaN,7.831,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22690,2013,JOR,IRQ,NaN,400.0,368.0,1.0,1.0,0.0,811.116,811.116,872.717,859.304,6459.000,6459.000,3.367850e+07,2.293273e+08,5.214,6.862
22691,2013,LBN,IRQ,NaN,422.0,368.0,0.0,1.0,0.0,830.012,830.012,875.264,857.289,4467.390,4467.390,4.435242e+07,2.293273e+08,9.928,6.862
22692,2013,LBY,IRQ,NaN,434.0,368.0,0.0,1.0,0.0,2911.806,2911.806,2706.425,2650.742,6201.521,6201.521,7.419953e+07,2.293273e+08,11.965,6.862
22693,2013,SYR,IRQ,NaN,760.0,368.0,1.0,1.0,0.0,754.075,754.075,761.694,707.888,22845.551,22845.551,NaN,2.293273e+08,NaN,6.862
22694,2013,TUR,IRQ,NaN,792.0,368.0,1.0,0.0,0.0,1614.773,1266.872,1353.151,1191.041,74932.640,74932.640,8.221352e+08,2.293273e+08,10.972,6.862

Now we may want to select some of the information into a smaller dataframe containing data we intend to use for a regression

In [16]:
regdata = dataset[['year','iso3_o','iso3_d','evalue','dist','gdp_o', 'gdp_d']]

In [17]:
regdata

       year iso3_o iso3_d      evalue       dist         gdp_o         gdp_d
0      2013    BEL    ABW    774353.0   7847.070  5.248055e+08           NaN
1      2013    BHS    ABW   4712537.0   1588.515  8.420000e+06           NaN
2      2013    CHE    ABW  17812626.0   8056.332  6.854342e+08           NaN
3      2013    CHN    ABW  25319168.0  14155.351  9.240271e+09           NaN
4      2013    COL    ABW  22160086.0   1036.634  3.784153e+08           NaN
...     ...    ...    ...         ...        ...           ...           ...
22690  2013    JOR    IRQ         NaN    811.116  3.367850e+07  2.293273e+08
22691  2013    LBN    IRQ         NaN    830.012  4.435242e+07  2.293273e+08
22692  2013    LBY    IRQ         NaN   2911.806  7.419953e+07  2.293273e+08
22693  2013    SYR    IRQ         NaN    754.075           NaN  2.293273e+08
22694  2013    TUR    IRQ         NaN   1614.773  8.221352e+08  2.293273e+08

[22695 rows x 7 columns]

## Comparing Cepii GDP Data to WDI Data

In [18]:
import wbgapi as wb

In [19]:
wb.series.info(q='gdp')

id                    value
--------------------  -------------------------------------------------------------------------
EG.GDP.PUSE.KO.PP     GDP per unit of energy use (PPP $ per kg of oil equivalent)
EG.GDP.PUSE.KO.PP.KD  GDP per unit of energy use (constant 2017 PPP $ per kg of oil equivalent)
EG.USE.COMM.GD.PP.KD  Energy use (kg of oil equivalent) per $1,000 GDP (constant 2017 PPP)
NY.GDP.DEFL.KD.ZG     Inflation, GDP deflator (annual %)
NY.GDP.DEFL.KD.ZG.AD  Inflation, GDP deflator: linked series (annual %)
NY.GDP.DEFL.ZS        GDP deflator (base year varies by country)
NY.GDP.DEFL.ZS.AD     GDP deflator: linked series (base year varies by country)
NY.GDP.DISC.CN        Discrepancy in expenditure estimate of GDP (current LCU)
NY.GDP.DISC.KN        Discrepancy in expenditure estimate of GDP (constant LCU)
NY.GDP.MKTP.CD        GDP (current US$)
NY.GDP.MKTP.CN        GDP (current LCU)
NY.GDP.MKTP.CN.AD     GDP: linked series (current LCU)
NY.GDP.MKTP.KD        GDP (constant 2010 US$)
NY.GDP.MKTP.KD.ZG     GDP growth (annual %)
NY.GDP.MKTP.KN        GDP (constant LCU)
NY.GDP.MKTP.PP.CD     GDP, PPP (current international $)
NY.GDP.MKTP.PP.KD     GDP, PPP (constant 2017 international $)
NY.GDP.PCAP.CD        GDP per capita (current US$)
NY.GDP.PCAP.CN        GDP per capita (current LCU)
NY.GDP.PCAP.KD        GDP per capita (constant 2010 US$)
NY.GDP.PCAP.KD.ZG     GDP per capita growth (annual %)
NY.GDP.PCAP.KN        GDP per capita (constant LCU)
NY.GDP.PCAP.PP.CD     GDP per capita, PPP (current international $)
NY.GDP.PCAP.PP.KD     GDP per capita, PPP (constant 2017 international $)
PA.NUS.PPP            PPP conversion factor, GDP (LCU per international $)
PA.NUS.PPPC.RF        Price level ratio of PPP conversion factor (GDP) to market exchange rate
SL.GDP.PCAP.EM.KD     GDP per person employed (constant 2017 PPP $)
                      27 elements

In [20]:
wdi_gdp = wb.data.DataFrame(['NY.GDP.MKTP.CD'], time="YR2013")

In [21]:
wdi_gdp

         NY.GDP.MKTP.CD
economy
ABW        2.701676e+09
AFG        2.056107e+10
AGO        1.367099e+11
ALB        1.277622e+10
AND        3.193704e+09
...                 ...
XKX        7.074778e+09
YEM        4.041524e+10
ZAF        3.668294e+11
ZMB        2.804555e+10
ZWE        1.909102e+10

[264 rows x 1 columns]

In [22]:
regdata

       year iso3_o iso3_d      evalue       dist         gdp_o         gdp_d
0      2013    BEL    ABW    774353.0   7847.070  5.248055e+08           NaN
1      2013    BHS    ABW   4712537.0   1588.515  8.420000e+06           NaN
2      2013    CHE    ABW  17812626.0   8056.332  6.854342e+08           NaN
3      2013    CHN    ABW  25319168.0  14155.351  9.240271e+09           NaN
4      2013    COL    ABW  22160086.0   1036.634  3.784153e+08           NaN
...     ...    ...    ...         ...        ...           ...           ...
22690  2013    JOR    IRQ         NaN    811.116  3.367850e+07  2.293273e+08
22691  2013    LBN    IRQ         NaN    830.012  4.435242e+07  2.293273e+08
22692  2013    LBY    IRQ         NaN   2911.806  7.419953e+07  2.293273e+08
22693  2013    SYR    IRQ         NaN    754.075           NaN  2.293273e+08
22694  2013    TUR    IRQ         NaN   1614.773  8.221352e+08  2.293273e+08

[22695 rows x 7 columns]

In [23]:
regdata.merge(wdi_gdp, how='left', left_on=['iso3_o'], right_index=True)

,year,iso3_o,iso3_d,evalue,dist,gdp_o,gdp_d,NY.GDP.MKTP.CD
0,2013,BEL,ABW,774353.0,7847.070,5.248055e+08,NaN,5.216427e+11
1,2013,BHS,ABW,4712537.0,1588.515,8.420000e+06,NaN,1.056840e+10
2,2013,CHE,ABW,17812626.0,8056.332,6.854342e+08,NaN,6.885042e+11
3,2013,CHN,ABW,25319168.0,14155.351,9.240271e+09,NaN,9.570406e+12
4,2013,COL,ABW,22160086.0,1036.634,3.784153e+08,NaN,3.821161e+11
...,...,...,...,...,...,...,...,...
22690,2013,JOR,IRQ,NaN,811.116,3.367850e+07,2.293273e+08,3.445444e+10
22691,2013,LBN,IRQ,NaN,830.012,4.435242e+07,2.293273e+08,4.690934e+10
22692,2013,LBY,IRQ,NaN,2911.806,7.419953e+07,2.293273e+08,6.550287e+10
22693,2013,SYR,IRQ,NaN,754.075,NaN,2.293273e+08,NaN
22694,2013,TUR,IRQ,NaN,1614.773,8.221352e+08,2.293273e+08,9.577994e+11

In [24]:
regdata = regdata.merge(wdi_gdp, how='left', left_on=['iso3_o'], right_index=True)
regdata = regdata.rename(columns={'NY.GDP.MKTP.CD' : 'wdi_gdp_o'})

In [25]:
regdata

,year,iso3_o,iso3_d,evalue,dist,gdp_o,gdp_d,wdi_gdp_o
0,2013,BEL,ABW,774353.0,7847.070,5.248055e+08,NaN,5.216427e+11
1,2013,BHS,ABW,4712537.0,1588.515,8.420000e+06,NaN,1.056840e+10
2,2013,CHE,ABW,17812626.0,8056.332,6.854342e+08,NaN,6.885042e+11
3,2013,CHN,ABW,25319168.0,14155.351,9.240271e+09,NaN,9.570406e+12
4,2013,COL,ABW,22160086.0,1036.634,3.784153e+08,NaN,3.821161e+11
...,...,...,...,...,...,...,...,...
22690,2013,JOR,IRQ,NaN,811.116,3.367850e+07,2.293273e+08,3.445444e+10
22691,2013,LBN,IRQ,NaN,830.012,4.435242e+07,2.293273e+08,4.690934e+10
22692,2013,LBY,IRQ,NaN,2911.806,7.419953e+07,2.293273e+08,6.550287e+10
22693,2013,SYR,IRQ,NaN,754.075,NaN,2.293273e+08,NaN
22694,2013,TUR,IRQ,NaN,1614.773,8.221352e+08,2.293273e+08,9.577994e+11

In [26]:
regdata['wdi_gdp_o'] = regdata['wdi_gdp_o'] / 1000

In [27]:
regdata = regdata.merge(wdi_gdp, how='left', left_on=['iso3_d'], right_index=True)
regdata = regdata.rename(columns={'NY.GDP.MKTP.CD' : 'wdi_gdp_d'})
regdata['wdi_gdp_d'] = regdata['wdi_gdp_d'] / 1000

In [28]:
regdata

,year,iso3_o,iso3_d,evalue,dist,gdp_o,gdp_d,wdi_gdp_o,wdi_gdp_d
0,2013,BEL,ABW,774353.0,7847.070,5.248055e+08,NaN,5.216427e+08,2.701676e+06
1,2013,BHS,ABW,4712537.0,1588.515,8.420000e+06,NaN,1.056840e+07,2.701676e+06
2,2013,CHE,ABW,17812626.0,8056.332,6.854342e+08,NaN,6.885042e+08,2.701676e+06
3,2013,CHN,ABW,25319168.0,14155.351,9.240271e+09,NaN,9.570406e+09,2.701676e+06
4,2013,COL,ABW,22160086.0,1036.634,3.784153e+08,NaN,3.821161e+08,2.701676e+06
...,...,...,...,...,...,...,...,...,...
22690,2013,JOR,IRQ,NaN,811.116,3.367850e+07,2.293273e+08,3.445444e+07,2.346484e+08
22691,2013,LBN,IRQ,NaN,830.012,4.435242e+07,2.293273e+08,4.690934e+07,2.346484e+08
22692,2013,LBY,IRQ,NaN,2911.806,7.419953e+07,2.293273e+08,6.550287e+07,2.346484e+08
22693,2013,SYR,IRQ,NaN,754.075,NaN,2.293273e+08,NaN,2.346484e+08
22694,2013,TUR,IRQ,NaN,1614.773,8.221352e+08,2.293273e+08,9.577994e+08,2.346484e+08

# Exporting dataset to Stata

In [29]:
regdata.to_stata("./data/gravity_model.dta", write_index=False)

----

# Running Gravity Model in Python

In [30]:
from numpy import log
import statsmodels.formula.api as smf

In [31]:
formula = "log(evalue) ~ log(gdp_o) + log(gdp_d) + log(dist)"
model = smf.ols(formula, regdata)
result = model.fit(cov_type='HC1')

In [32]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log(evalue)   R-squared:                       0.639
Model:                            OLS   Adj. R-squared:                  0.639
Method:                 Least Squares   F-statistic:                 1.175e+04
Date:                Tue, 30 Mar 2021   Prob (F-statistic):               0.00
Time:                        15:52:02   Log-Likelihood:                -49204.
No. Observations:               20334   AIC:                         9.842e+04
Df Residuals:                   20330   BIC:                         9.845e+04
Df Model:                           3
Covariance Type:                  HC1
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -14.5333      0.324    -44.876      0.000     -15.168     -13.899
log(gdp_o)     1.2667      0.008    149.681      0.000       1.250       1.283
log(gdp_d)     1.0252      0.009    117.563      0.000       1.008       1.042
log(dist)     -1.3959      0.023    -60.301      0.000      -1.441      -1.351
==============================================================================
Omnibus:                     2065.315   Durbin-Watson:                   1.798
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3783.074
Skew:                          -0.693   Prob(JB):                         0.00
Kurtosis:                       4.596   Cond. No.                         437.
==============================================================================

Warnings:
[1] Standard Errors are heteroscedasticity robust (HC1)

We could use `ipystata` to run a regression at this point

In [33]:
import ipystata

IPyStata is loaded in batch mode.

In [34]:
%%stata -d regdata
gen levalue = ln(evalue)
gen lgdp_o = ln(gdp_o)
gen lgdp_d = ln(gdp_d)
gen ldist = ln(dist)
reg levalue lgdp_o lgdp_d ldist

(1,282 missing values generated)
(771 missing values generated)
(412 missing values generated)

      Source |       SS           df       MS      Number of obs   =    20,334
-------------+----------------------------------   F(3, 20330)     =  11997.99
       Model |  266473.973         3  88824.6575   Prob > F        =    0.0000
    Residual |  150508.973    20,330  7.40329429   R-squared       =    0.6391
-------------+----------------------------------   Adj R-squared   =    0.6390
       Total |  416982.945    20,333  20.5076942   Root MSE        =    2.7209

------------------------------------------------------------------------------
     levalue |      Coef.   Std. Err.      t    P>|t|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
      lgdp_o |   1.266673   .0083833   151.10   0.000     1.250241    1.283105
      lgdp_d |   1.025185    .008746   117.22   0.000     1.008043    1.042328
       ldist |  -1.395945   .0233717   -59.73   0.000    -1.441755   -1.350135
       _cons |   -14.5333   .3082875   -47.14   0.000    -15.13757   -13.92903
------------------------------------------------------------------------------

Perhaps you now want to add **exporter** dummies

In [35]:
%%stata -d regdata

#Exporter Dummies
encode iso3_o, g(iso3o)
gen levalue = ln(evalue)
gen lgdp_o = ln(gdp_o)
gen lgdp_d = ln(gdp_d)
gen ldist = ln(dist)
reg levalue lgdp_o lgdp_d ldist i.iso3o

Unknown #command(1,282 missing values generated)
(771 missing values generated)
(412 missing values generated)
note: 194.iso3o omitted because of collinearity

      Source |       SS           df       MS      Number of obs   =    20,334
-------------+----------------------------------   F(187, 20146)   =    276.19
       Model |  299971.916       187   1604.1279   Prob > F        =    0.0000
    Residual |  117011.029    20,146  5.80815194   R-squared       =    0.7194
-------------+----------------------------------   Adj R-squared   =    0.7168
       Total |  416982.945    20,333  20.5076942   Root MSE        =      2.41

------------------------------------------------------------------------------
     levalue |      Coef.   Std. Err.      t    P>|t|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
      lgdp_o |  -5.042138   .7786165    -6.48   0.000     -6.56829   -3.515986
      lgdp_d |   1.069977   .0077948   137.27   0.000     1.054699    1.085256
       ldist |  -1.615335   .0223823   -72.17   0.000    -1.659206   -1.571464
             |
       iso3o |
        AGO  |   11.05963   1.598226     6.92   0.000     7.926976    14.19228
        ALB  |  -1.742451   .3394323    -5.13   0.000    -2.407766   -1.077136
        ARE  |   21.87755   2.500108     8.75   0.000     16.97714    26.77797
        ARG  |   24.71347   2.822661     8.76   0.000     19.18082    30.24612
        ARM  |  -3.885121   .4596593    -8.45   0.000     -4.78609   -2.984151
        ATG  |  -14.83986   2.062481    -7.20   0.000    -18.88249   -10.79723
        AUS  |   30.18919   3.551557     8.50   0.000     23.22785    37.15053
        AUT  |   21.63964     2.5485     8.49   0.000     16.64437     26.6349
        AZE  |   7.653772   1.199453     6.38   0.000     5.302747     10.0048
        BDI  |  -11.33967   1.445914    -7.84   0.000    -14.17378   -8.505557
        BEL  |   23.98406     2.7058     8.86   0.000     18.68047    29.28765
        BEN  |  -4.643133   .6168623    -7.53   0.000    -5.852233   -3.434032
        BFA  |  -2.811096   .4102759    -6.85   0.000     -3.61527   -2.006922
        BGD  |   15.43217   1.738228     8.88   0.000      12.0251    18.83924
        BGR  |   9.587595   .9660162     9.92   0.000     7.694124    11.48107
        BHR  |   4.735007    .604358     7.83   0.000     3.550415    5.919598
        BHS  |  -3.167081   .5975368    -5.30   0.000    -4.338302    -1.99586
        BIH  |   .9746409   .2800431     3.48   0.001     .4257336    1.523548
        BLR  |   9.643465   1.176052     8.20   0.000     7.338306    11.94862
        BLZ  |  -11.46721   1.827296    -6.28   0.000    -15.04886   -7.885555
        BMU  |  -8.081657   .9019897    -8.96   0.000     -9.84963   -6.313683
        BOL  |   4.756934   .5613652     8.47   0.000     3.656612    5.857256
        BRA  |   32.54479    3.83422     8.49   0.000     25.02941    40.06018
        BRB  |  -7.299018   1.074733    -6.79   0.000    -9.405582   -5.192453
        BRN  |  -1.302636   .2970344    -4.39   0.000    -1.884847   -.7204238
        BTN  |  -15.02623   1.767219    -8.50   0.000    -18.49012   -11.56233
        BWA  |  -2.064316   .3192102    -6.47   0.000    -2.689994   -1.438638
        CAF  |  -14.53412    1.87307    -7.76   0.000    -18.20549   -10.86275
        CAN  |   30.78584    3.67381     8.38   0.000     23.58487    37.98681
        CHE  |   25.30237   2.912766     8.69   0.000     19.59311    31.01163
        CHL  |   19.76205   2.212314     8.93   0.000     15.42574    24.09837
        CHN  |   41.91487   4.933534     8.50   0.000     32.24474      51.585
        CIV  |   5.480383   .5632459     9.73   0.000     4.376375    6.584391
        CMR  |   4.405507   .5288445     8.33   0.000     3.368929    5.442086
        COG  |  -.6105562   .3089137    -1.98   0.048    -1.216052   -.0050602
        COL  |   20.14877   2.453085     8.21   0.000     15.34053    24.95702
        COM  |  -19.09135   2.601501    -7.34   0.000    -24.19051    -13.9922
        CPV  |  -13.82455   1.720572    -8.03   0.000    -17.19701   -10.45209
        CRI  |   9.356245    .897174    10.43   0.000      7.59771    11.11478
        CUB  |   9.647451    1.23048     7.84   0.000     7.235609    12.05929
        CYP  |   3.254159   .3449949     9.43   0.000      2.57794    3.930377
        CZE  |   17.41091   1.993129     8.74   0.000     13.50422    21.31761
        DEU  |   35.38713   4.228242     8.37   0.000     27.09943    43.67483
        DJI  |  -14.33114   1.915126    -7.48   0.000    -18.08495   -10.57734
        DMA  |  -19.20677   2.713756    -7.08   0.000    -24.52595   -13.88758
        DNK  |   20.93213   2.360167     8.87   0.000     16.30601    25.55825
        DOM  |   8.950855    1.05537     8.48   0.000     6.882243    11.01947
        DZA  |   14.46668   2.000447     7.23   0.000     10.54564    18.38772
        ECU  |   12.55046   1.384054     9.07   0.000     9.837596    15.26331
        EGY  |   18.31614    2.19706     8.34   0.000     14.00972    22.62256
        ERI  |  -11.24652   1.262141    -8.91   0.000    -13.72042   -8.772618
        ESP  |   29.01098   3.463135     8.38   0.000     22.22295    35.79901
        EST  |   4.580221   .4169646    10.98   0.000     3.762936    5.397506
        ETH  |    6.18772   .8669331     7.14   0.000     4.488461     7.88698
        FIN  |   19.15091   2.183893     8.77   0.000      14.8703    23.43152
        FJI  |  -7.209228   1.171406    -6.15   0.000     -9.50528   -4.913176
        FRA  |   33.34742    4.00715     8.32   0.000     25.49308    41.20176
        FRO  |  -10.56542   1.474771    -7.16   0.000     -13.4561   -7.674753
        FSM  |  -22.63687   3.101952    -7.30   0.000    -28.71695   -16.55679
        GAB  |   1.311609   .3048301     4.30   0.000     .7141168    1.909101
        GBR  |   32.86457   3.970824     8.28   0.000     25.08143    40.64771
        GEO  |   .9450488   .2715113     3.48   0.001     .4128645    1.477233
        GHA  |   7.787716   .8753046     8.90   0.000     6.072047    9.503385
        GIN  |  -5.525191   .8242558    -6.70   0.000    -7.140799   -3.909582
        GMB  |  -17.25473   2.281934    -7.56   0.000     -21.7275   -12.78195
        GNB  |  -17.62138   2.243312    -7.86   0.000    -22.01846   -13.22431
        GNQ  |  -.3516396     .35251    -1.00   0.319    -1.042588    .3393088
        GRC  |   17.13906   2.107614     8.13   0.000     13.00796    21.27015
        GRD  |  -17.69251   2.346419    -7.54   0.000    -22.29169   -13.09334
        GRL  |  -11.56867   1.513777    -7.64   0.000     -14.5358   -8.601546
        GTM  |   9.150234   .9589931     9.54   0.000     7.270529    11.02994
        GUY  |  -9.104658   1.364181    -6.67   0.000    -11.77856   -6.430752
        HKG  |   20.32232   2.202816     9.23   0.000     16.00462    24.64002
        HND  |    2.75872    .282424     9.77   0.000     2.205146    3.312294
        HRV  |   7.981966   1.013433     7.88   0.000     5.995554    9.968378
        HTI  |  -4.329773   .5921164    -7.31   0.000    -5.490369   -3.169176
        HUN  |   14.75291   1.647963     8.95   0.000     11.52277    17.98306
        IDN  |    27.1689   3.096424     8.77   0.000     21.09966    33.23815
        IND  |   31.57849   3.694662     8.55   0.000     24.33665    38.82033
        IRL  |   18.78001   2.074565     9.05   0.000      14.7137    22.84633
        IRN  |   18.29462   2.433377     7.52   0.000       13.525    23.06424
        IRQ  |    12.7777     2.0705     6.17   0.000     8.719354    16.83605
        ISL  |   1.293034   .2741465     4.72   0.000     .7556842    1.830383
        ISR  |   19.05082   2.248927     8.47   0.000     14.64273     23.4589
        ITA  |   31.76575   3.799961     8.36   0.000     24.31751    39.21398
        JAM  |  -.1876416   .2924451    -0.64   0.521    -.7608578    .3855747
        JOR  |   5.215984   .6161384     8.47   0.000     4.008302    6.423666
        JPN  |    37.5494   4.443563     8.45   0.000     28.83965    46.25915
        KAZ  |    15.9465   2.077955     7.67   0.000     11.87354    20.01946
        KEN  |     8.3286   .9768374     8.53   0.000     6.413918    10.24328
        KGZ  |  -5.968845   .7097378    -8.41   0.000    -7.359989   -4.577701
        KHM  |   2.650601   .2758966     9.61   0.000     2.109821    3.191381
        KIR  |  -25.53648   3.589934    -7.11   0.000    -32.57305   -18.49992
        KNA  |  -18.23639   2.414148    -7.55   0.000    -22.96832   -13.50446
        KOR  |   30.12133   3.412404     8.83   0.000     23.43273    36.80992
        KWT  |   13.65754   1.862259     7.33   0.000     10.00736    17.30772
        LAO  |  -1.963682   .4165164    -4.71   0.000    -2.780088   -1.147276
        LBN  |   6.691061   .8137198     8.22   0.000     5.096104    8.286018
        LBR  |   -11.0661   1.688774    -6.55   0.000    -14.37623   -7.755966
        LBY  |   8.131747   1.208827     6.73   0.000     5.762348    10.50115
        LCA  |  -16.09676   1.991433    -8.08   0.000    -20.00013   -12.19339
        LKA  |   10.93398   1.124061     9.73   0.000     8.730731    13.13723
        LSO  |  -11.67909   1.554377    -7.51   0.000    -14.72579    -8.63238
        LTU  |    8.10523   .8399388     9.65   0.000     6.458881    9.751578
        LUX  |   9.327073   1.041503     8.96   0.000     7.285642     11.3685
        LVA  |   5.304785   .5591091     9.49   0.000     4.208886    6.400685
        MAC  |    5.85321   .9337324     6.27   0.000     4.023018    7.683402
        MAR  |   12.97454   1.455724     8.91   0.000      10.1212    15.82788
        MDA  |  -3.527774    .639076    -5.52   0.000    -4.780415   -2.275133
        MDG  |  -.9958756   .4396284    -2.27   0.024    -1.857583    -.134168
        MDV  |  -11.70867   1.568487    -7.46   0.000    -14.78303   -8.634306
        MEX  |   28.07294   3.386104     8.29   0.000      21.4359    34.70999
        MHL  |  -23.22363   3.488438    -6.66   0.000    -30.06125   -16.38601
        MKD  |   -1.95157   .4771535    -4.09   0.000     -2.88683    -1.01631
        MLI  |  -2.949692   .4228719    -6.98   0.000    -3.778555   -2.120828
        MLT  |  -1.222829   .4980132    -2.46   0.014    -2.198975   -.2466822
        MMR  |   8.126861   1.046134     7.77   0.000     6.076353    10.17737
        MNG  |  -3.104915   .4141427    -7.50   0.000    -3.916668   -2.293161
        MNP  |  -18.66085   2.414578    -7.73   0.000    -23.39362   -13.92808
        MOZ  |   1.500512   .2900372     5.17   0.000     .9320149    2.069008
        MRT  |  -7.631103   1.109361    -6.88   0.000    -9.805541   -5.456664
        MUS  |   .5122425   .3695337     1.39   0.166    -.2120738    1.236559
        MWI  |  -6.920805    1.19769    -5.78   0.000    -9.268375   -4.573234
        MYS  |   21.93204   2.306027     9.51   0.000     17.41204    26.45204
        NAM  |   .1581695   .3273192     0.48   0.629    -.4834029    .7997419
        NER  |  -5.937004    .686407    -8.65   0.000    -7.282418    -4.59159
        NGA  |   20.23479   2.702269     7.49   0.000     14.93813    25.53146
        NIC  |  -.7857718   .4033295    -1.95   0.051    -1.576331     .004787
        NLD  |   26.85354   3.082957     8.71   0.000     20.81069    32.89639
        NOR  |   22.00037   2.687783     8.19   0.000      16.7321    27.26864
        NPL  |   .1608319   .3048254     0.53   0.598    -.4366508    .7583145
        NZL  |   18.32798   1.902961     9.63   0.000     14.59802    22.05794
        OMN  |   10.37298   1.254244     8.27   0.000     7.914563    12.83141
        PAK  |   18.28324   2.075171     8.81   0.000     14.21574    22.35075
        PAN  |   7.821672   .7859675     9.95   0.000     6.281111    9.362232
        PER  |   16.86534   1.969023     8.57   0.000     13.00589    20.72478
        PHL  |   19.17555   2.197465     8.73   0.000     14.86834    23.48276
        PLW  |  -25.63967   3.300864    -7.77   0.000    -32.10963    -19.1697
        PNG  |   .2587833   .3083032     0.84   0.401    -.3455161    .8630827
        POL  |   22.75304   2.707637     8.40   0.000     17.44585    28.06023
        PRT  |   18.10363   2.058662     8.79   0.000     14.06849    22.13878
        PRY  |   5.619447   .5201472    10.80   0.000     4.599916    6.638978
        QAT  |   16.03848    1.97307     8.13   0.000      12.1711    19.90586
        RUS  |   30.61268   3.780949     8.10   0.000     23.20171    38.02365
        RWA  |  -5.520245   .6888866    -8.01   0.000    -6.870519    -4.16997
        SAU  |    24.2119   2.981228     8.12   0.000     18.36845    30.05535
        SDN  |   7.251258   1.121472     6.47   0.000     5.053082    9.449435
        SEN  |   .0432701    .281979     0.15   0.878    -.5094318    .5959719
        SGP  |   21.38522   2.267638     9.43   0.000     16.94047    25.82998
        SLB  |  -14.42878   2.141296    -6.74   0.000    -18.62589   -10.23166
        SLE  |  -7.241936   1.113534    -6.50   0.000    -9.424552   -5.059319
        SLV  |   3.133453   .4143045     7.56   0.000     2.321383    3.945524
        SOM  |  -8.072555   .9374348    -8.61   0.000    -9.910004   -6.235106
        STP  |  -23.81586   3.113291    -7.65   0.000    -29.91816   -17.71355
        SUR  |  -6.537579   .9316842    -7.02   0.000    -8.363756   -4.711402
        SVK  |   12.32031   1.409348     8.74   0.000     9.557868    15.08274
        SVN  |   8.446226   .8723348     9.68   0.000     6.736378    10.15607
        SWE  |   23.95929   2.782954     8.61   0.000     18.50447     29.4141
        SWZ  |   -5.95796   1.177689    -5.06   0.000    -8.266326   -3.649594
        SYC  |  -12.35826   1.918797    -6.44   0.000    -16.11926   -8.597262
        TCD  |  -3.201763     .36594    -8.75   0.000    -3.919035    -2.48449
        TGO  |  -7.288105   1.083917    -6.72   0.000    -9.412671   -5.163538
        THA  |   23.39687   2.470442     9.47   0.000      18.5546    28.23914
        TJK  |  -5.531714   .6068551    -9.12   0.000      -6.7212   -4.342228
        TKM  |   3.618205   .7895911     4.58   0.000     2.070542    5.165868
        TON  |  -21.28326   2.800573    -7.60   0.000    -26.77261   -15.79391
        TTO  |   3.236659   .4188839     7.73   0.000     2.415612    4.057706
        TUN  |   7.996008   .8558459     9.34   0.000      6.31848    9.673536
        TUR  |   25.85851   3.053877     8.47   0.000     19.87266    31.84436
        TUV  |  -33.92322   4.739227    -7.16   0.000    -43.21249   -24.63394
        TZA  |   5.314881   .6082497     8.74   0.000     4.122662      6.5071
        UGA  |   1.982016   .3417679     5.80   0.000     1.312123    2.651909
        UKR  |   16.60517   1.867689     8.89   0.000     12.94434    20.26599
        URY  |   10.19734   .9832984    10.37   0.000     8.269991    12.12468
        USA  |   44.42826   5.396981     8.23   0.000     33.84974    55.00679
        UZB  |   6.941393   1.007308     6.89   0.000     4.966987      8.9158
        VCT  |  -18.80242   2.474367    -7.60   0.000    -23.65238   -13.95246
        VEN  |   18.46509   2.567733     7.19   0.000     13.43213    23.49806
        VNM  |   18.47572   1.840649    10.04   0.000      14.8679    22.08354
        VUT  |  -16.69074   2.355827    -7.08   0.000    -21.30835   -12.07313
        WSM  |  -17.32885   2.382164    -7.27   0.000    -21.99809   -12.65961
        YEM  |    3.73487   .6778053     5.51   0.000     2.406316    5.063423
        ZAF  |   21.71246   2.393479     9.07   0.000     17.02104    26.40387
        ZMB  |   2.833505   .4762743     5.95   0.000     1.899969    3.767041
        ZWE  |          0  (omitted)
             |
       _cons |   90.41858   12.94519     6.98   0.000     65.04494    115.7922
------------------------------------------------------------------------------

Perhaps we want to replicate this in `python` we can compute these dummies in `pandas` as well

In [36]:
regdata = regdata.join(pd.get_dummies(regdata.iso3_o))

In [37]:
regdata

,year,iso3_o,iso3_d,evalue,dist,gdp_o,gdp_d,wdi_gdp_o,wdi_gdp_d,ABW,...,UZB,VCT,VEN,VNM,VUT,WSM,YEM,ZAF,ZMB,ZWE
0,2013,BEL,ABW,774353.0,7847.070,5.248055e+08,NaN,5.216427e+08,2.701676e+06,0,...,0,0,0,0,0,0,0,0,0,0
1,2013,BHS,ABW,4712537.0,1588.515,8.420000e+06,NaN,1.056840e+07,2.701676e+06,0,...,0,0,0,0,0,0,0,0,0,0
2,2013,CHE,ABW,17812626.0,8056.332,6.854342e+08,NaN,6.885042e+08,2.701676e+06,0,...,0,0,0,0,0,0,0,0,0,0
3,2013,CHN,ABW,25319168.0,14155.351,9.240271e+09,NaN,9.570406e+09,2.701676e+06,0,...,0,0,0,0,0,0,0,0,0,0
4,2013,COL,ABW,22160086.0,1036.634,3.784153e+08,NaN,3.821161e+08,2.701676e+06,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22690,2013,JOR,IRQ,NaN,811.116,3.367850e+07,2.293273e+08,3.445444e+07,2.346484e+08,0,...,0,0,0,0,0,0,0,0,0,0
22691,2013,LBN,IRQ,NaN,830.012,4.435242e+07,2.293273e+08,4.690934e+07,2.346484e+08,0,...,0,0,0,0,0,0,0,0,0,0
22692,2013,LBY,IRQ,NaN,2911.806,7.419953e+07,2.293273e+08,6.550287e+07,2.346484e+08,0,...,0,0,0,0,0,0,0,0,0,0
22693,2013,SYR,IRQ,NaN,754.075,NaN,2.293273e+08,NaN,2.346484e+08,0,...,0,0,0,0,0,0,0,0,0,0
22694,2013,TUR,IRQ,NaN,1614.773,8.221352e+08,2.293273e+08,9.577994e+08,2.346484e+08,0,...,0,0,0,0,0,0,0,0,0,0

Let's check the computation of dummies

In [38]:
regdata[['iso3_o', 'BEL']]

      iso3_o  BEL
0        BEL    1
1        BHS    0
2        CHE    0
3        CHN    0
4        COL    0
...      ...  ...
22690    JOR    0
22691    LBN    0
22692    LBY    0
22693    SYR    0
22694    TUR    0

[22695 rows x 2 columns]

We can then join those columns into a string that can be used as part of the `statsmodels` formula

In [39]:
countries = " + ".join(regdata.columns[9:-2])  #Leaving off ZWE

In [40]:
countries

'ABW + AFG + AGO + ALB + ARE + ARG + ARM + ATG + AUS + AUT + AZE + BDI + BEL + BEN + BFA + BGD + BGR + BHR + BHS + BIH + BLR + BLZ + BMU + BOL + BRA + BRB + BRN + BTN + BWA + CAF + CAN + CHE + CHL + CHN + CIV + CMR + COG + COL + COM + CPV + CRI + CUB + CYM + CYP + CZE + DEU + DJI + DMA + DNK + DOM + DZA + ECU + EGY + ERI + ESP + EST + ETH + FIN + FJI + FRA + FRO + FSM + GAB + GBR + GEO + GHA + GIN + GMB + GNB + GNQ + GRC + GRD + GRL + GTM + GUY + HKG + HND + HRV + HTI + HUN + IDN + IND + IRL + IRN + IRQ + ISL + ISR + ITA + JAM + JOR + JPN + KAZ + KEN + KGZ + KHM + KIR + KNA + KOR + KWT + LAO + LBN + LBR + LBY + LCA + LKA + LSO + LTU + LUX + LVA + MAC + MAR + MDA + MDG + MDV + MEX + MHL + MKD + MLI + MLT + MMR + MNG + MNP + MOZ + MRT + MUS + MWI + MYS + NAM + NCL + NER + NGA + NIC + NLD + NOR + NPL + NZL + OMN + PAK + PAN + PER + PHL + PLW + PNG + POL + PRK + PRT + PRY + PYF + QAT + RUS + RWA + SAU + SDN + SEN + SGP + SLB + SLE + SLV + SMR + SOM + STP + SUR + SVK + SVN + SWE + SWZ + SYC + SYR + TCA + TCD + TGO + THA + TJK + TKM + TON + TTO + TUN + TUR + TUV + TZA + UGA + UKR + URY + USA + UZB + VCT + VEN + VNM + VUT + WSM + YEM + ZAF'

In [41]:
formula = "log(evalue) ~ log(gdp_o) + log(gdp_d) + log(dist) + " + countries
model = smf.ols(formula, regdata)
result = model.fit()

In [42]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log(evalue)   R-squared:                       0.719
Model:                            OLS   Adj. R-squared:                  0.717
Method:                 Least Squares   F-statistic:                     276.2
Date:                Tue, 30 Mar 2021   Prob (F-statistic):               0.00
Time:                        15:52:07   Log-Likelihood:                -46645.
No. Observations:               20334   AIC:                         9.367e+04
Df Residuals:                   20146   BIC:                         9.515e+04
Df Model:                         187
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     22.7282      8.035      2.829      0.005       6.979      38.477
log(gdp_o)    -0.9191      0.480     -1.915      0.055      -1.860       0.021
log(gdp_d)     1.0700      0.008    137.269      0.000       1.055       1.085
log(dist)     -1.6153      0.022    -72.170      0.000      -1.659      -1.571
ABW        -9.542e-14   2.23e-14     -4.287      0.000   -1.39e-13   -5.18e-14
AFG           -1.6870      0.284     -5.949      0.000      -2.243      -1.131
AGO            1.9074      0.960      1.987      0.047       0.026       3.789
ALB           -1.5655      0.332     -4.715      0.000      -2.216      -0.915
ARE            7.8783      1.501      5.249      0.000       4.937      10.820
ARG            8.9991      1.698      5.300      0.000       5.671      12.327
ARM           -2.8253      0.401     -7.042      0.000      -3.612      -2.039
ATG           -4.8656      1.347     -3.613      0.000      -7.505      -2.226
AUS           10.6016      2.144      4.945      0.000       6.399      14.804
AUT            7.3823      1.530      4.824      0.000       4.383      10.382
AZE            0.6604      0.725      0.911      0.362      -0.760       2.081
BDI           -4.7290      0.982     -4.814      0.000      -6.655      -2.803
BEL            8.8891      1.626      5.466      0.000       5.701      12.077
BEN           -2.6442      0.494     -5.352      0.000      -3.613      -1.676
BFA           -2.1825      0.380     -5.742      0.000      -2.928      -1.438
BGD            5.5012      1.039      5.297      0.000       3.466       7.537
BGR            3.8323      0.582      6.581      0.000       2.691       4.974
BHR            1.0604      0.394      2.694      0.007       0.289       1.832
BHS           -1.2237      0.476     -2.569      0.010      -2.157      -0.290
BIH           -0.1803      0.277     -0.651      0.515      -0.723       0.363
BLR            2.7551      0.707      3.899      0.000       1.370       4.140
BLZ           -2.7392      1.202     -2.279      0.023      -5.095      -0.383
BMU           -4.4373      0.658     -6.749      0.000      -5.726      -3.149
BOL            1.3798      0.379      3.637      0.000       0.636       2.123
BRA           11.4560      2.318      4.943      0.000       6.913      15.999
BRB           -2.6527      0.752     -3.526      0.000      -4.127      -1.178
BRN           -2.0347      0.307     -6.639      0.000      -2.636      -1.434
BTN           -6.6785      1.175     -5.682      0.000      -8.982      -4.375
BWA           -2.4422      0.328     -7.438      0.000      -3.086      -1.799
CAF           -5.5815      1.233     -4.526      0.000      -7.998      -3.165
CAN           10.5483      2.219      4.753      0.000       6.199      14.898
CHE            9.1065      1.753      5.195      0.000       5.671      12.542
CHL            7.2989      1.326      5.505      0.000       4.700       9.898
CHN           14.9938      2.993      5.010      0.000       9.128      20.860
CIV            2.0416      0.372      5.489      0.000       1.313       2.771
CMR            1.1700      0.355      3.297      0.001       0.474       1.866
COG           -0.7888      0.315     -2.507      0.012      -1.406      -0.172
COL            6.4023      1.472      4.348      0.000       3.516       9.288
COM           -6.2498      1.677     -3.727      0.000      -9.537      -2.963
CPV           -5.6980      1.142     -4.989      0.000      -7.937      -3.459
CRI            3.9861      0.544      7.327      0.000       2.920       5.052
CUB            2.4577      0.737      3.334      0.001       1.013       3.903
CYM         -1.62e-15   2.96e-16     -5.473      0.000    -2.2e-15   -1.04e-15
CYP            1.2542      0.280      4.472      0.000       0.704       1.804
CZE            6.1161      1.193      5.127      0.000       3.778       8.454
DEU           12.2060      2.559      4.769      0.000       7.189      17.223
DJI           -5.1531      1.259     -4.095      0.000      -7.620      -2.686
DMA           -5.7560      1.744     -3.301      0.001      -9.173      -2.339
DNK            7.6773      1.415      5.424      0.000       4.903      10.452
DOM            2.7184      0.636      4.275      0.000       1.472       3.965
DZA            3.1446      1.200      2.621      0.009       0.793       5.496
ECU            4.5255      0.827      5.472      0.000       2.905       6.146
EGY            5.9314      1.316      4.506      0.000       3.351       8.511
ERI           -5.6173      0.870     -6.457      0.000      -7.323      -3.912
ESP            9.8911      2.090      4.733      0.000       5.795      13.987
EST            2.0564      0.306      6.718      0.000       1.456       2.656
ETH            0.9955      0.529      1.881      0.060      -0.042       2.033
FIN            6.8372      1.308      5.226      0.000       4.273       9.402
FJI           -2.0448      0.811     -2.520      0.012      -3.635      -0.454
FRA           11.3396      2.424      4.679      0.000       6.589      16.090
FRO           -3.7983      1.000     -3.800      0.000      -5.758      -1.839
FSM           -7.1622      1.989     -3.602      0.000     -11.060      -3.264
GAB           -0.1744      0.282     -0.617      0.537      -0.728       0.379
GBR           11.0492      2.401      4.601      0.000       6.342      15.756
GEO            0.2056      0.282      0.729      0.466      -0.347       0.758
GHA            2.5427      0.533      4.773      0.000       1.499       3.587
GIN           -2.2826      0.607     -3.758      0.000      -3.473      -1.092
GMB           -6.1083      1.480     -4.126      0.000      -9.010      -3.207
GNB           -6.7284      1.465     -4.593      0.000      -9.600      -3.857
GNQ           -0.9457      0.362     -2.615      0.009      -1.654      -0.237
GRC            5.2319      1.262      4.146      0.000       2.758       7.706
GRD           -6.2239      1.524     -4.085      0.000      -9.210      -3.238
GRL           -4.5911      1.023     -4.487      0.000      -6.597      -2.585
GTM            3.4469      0.581      5.937      0.000       2.309       4.585
GUY           -2.8927      0.926     -3.122      0.002      -4.709      -1.077
HKG            7.9068      1.320      5.992      0.000       5.320      10.493
HND            1.4454      0.270      5.345      0.000       0.915       1.976
HRV            1.9778      0.612      3.233      0.001       0.779       3.177
HTI           -2.4056      0.472     -5.100      0.000      -3.330      -1.481
HUN            5.3045      0.984      5.390      0.000       3.375       7.234
IDN            9.9978      1.865      5.360      0.000       6.342      13.654
IND           11.2296      2.232      5.032      0.000       6.855      15.604
IRL            7.0494      1.242      5.676      0.000       4.615       9.484
IRN            4.6531      1.461      3.186      0.001       1.790       7.516
IRQ            1.0962      1.245      0.881      0.379      -1.344       3.536
ISL            0.7658      0.286      2.680      0.007       0.206       1.326
ISR            6.3937      1.349      4.741      0.000       3.750       9.037
ITA           10.8575      2.297      4.728      0.000       6.356      15.359
JAM           -0.4460      0.300     -1.484      0.138      -1.035       0.143
JOR            1.4437      0.395      3.659      0.000       0.670       2.217
JPN           13.2273      2.692      4.914      0.000       7.951      18.503
KAZ            4.2194      1.248      3.380      0.001       1.773       6.666
KEN            2.5159      0.589      4.273      0.000       1.362       3.670
KGZ           -3.3951      0.543     -6.247      0.000      -4.460      -2.330
KHM            2.1480      0.287      7.474      0.000       1.585       2.711
KIR           -7.4770      2.289     -3.266      0.001     -11.964      -2.990
KNA           -6.4086      1.565     -4.094      0.000      -9.476      -3.341
KOR           11.2720      2.059      5.475      0.000       7.237      15.307
KWT            3.0712      1.115      2.754      0.006       0.885       5.257
LAO           -1.2123      0.378     -3.206      0.001      -1.953      -0.471
LBN            1.7837      0.498      3.585      0.000       0.808       2.759
LBR           -3.0936      1.120     -2.762      0.006      -5.289      -0.898
LBY            1.1027      0.733      1.504      0.133      -0.335       2.540
LCA           -6.5624      1.314     -4.995      0.000      -9.138      -3.987
LKA            4.3146      0.673      6.408      0.000       2.995       5.634
LSO           -4.4475      1.042     -4.268      0.000      -6.490      -2.405
LTU            3.0536      0.512      5.958      0.000       2.049       4.058
LUX            3.1648      0.627      5.047      0.000       1.936       4.394
LVA            1.8800      0.368      5.106      0.000       1.158       2.602
MAC            0.3096      0.570      0.543      0.587      -0.808       1.427
MAR            4.5599      0.869      5.246      0.000       2.856       6.264
MDA           -1.3578      0.502     -2.705      0.007      -2.342      -0.374
MDG           -0.0071      0.385     -0.018      0.985      -0.761       0.747
MDV           -4.4145      1.053     -4.193      0.000      -6.478      -2.351
MEX            9.3639      2.043      4.584      0.000       5.360      13.368
MHL           -5.6681      2.221     -2.552      0.011     -10.021      -1.315
MKD           -0.7971      0.413     -1.931      0.054      -1.606       0.012
MLI           -2.0868      0.376     -5.545      0.000      -2.824      -1.349
MLT            0.1616      0.415      0.389      0.697      -0.652       0.975
MMR            1.9645      0.634      3.097      0.002       0.721       3.208
MNG           -2.4527      0.383     -6.409      0.000      -3.203      -1.703
MNP           -6.9084      1.579     -4.375      0.000     -10.003      -3.813
MOZ            0.8933      0.301      2.969      0.003       0.304       1.483
MRT           -2.7788      0.770     -3.608      0.000      -4.289      -1.269
MUS            1.0192      0.345      2.958      0.003       0.344       1.695
MWI           -1.5931      0.824     -1.934      0.053      -3.208       0.022
MYS            8.9659      1.382      6.486      0.000       6.257      11.675
NAM            0.2750      0.323      0.853      0.394      -0.357       0.907
NCL        -7.869e-16   1.94e-16     -4.062      0.000   -1.17e-15   -4.07e-16
NER           -3.4654      0.526     -6.589      0.000      -4.496      -2.434
NGA            5.1635      1.625      3.177      0.001       1.978       8.349
NIC           -0.0392      0.364     -0.108      0.914      -0.752       0.674
NLD            9.7533      1.857      5.252      0.000       6.113      13.393
NOR            7.0026      1.616      4.335      0.000       3.836      10.169
NPL           -1.3147      0.283     -4.642      0.000      -1.870      -0.760
NZL            7.5146      1.138      6.605      0.000       5.285       9.744
OMN            3.0514      0.751      4.065      0.000       1.580       4.523
PAK            6.5489      1.242      5.272      0.000       4.114       8.984
PAN            3.0759      0.483      6.365      0.000       2.129       4.023
PER            5.6998      1.178      4.839      0.000       3.391       8.009
PHL            6.7894      1.316      5.158      0.000       4.209       9.370
PLW           -9.1468      2.117     -4.320      0.000     -13.297      -4.996
PNG           -0.2575      0.319     -0.808      0.419      -0.882       0.367
POL            7.6498      1.628      4.700      0.000       4.459      10.840
PRK         3.282e-16   1.47e-16      2.237      0.025    4.06e-17    6.16e-16
PRT            6.4583      1.232      5.241      0.000       4.043       8.874
PRY            2.4625      0.355      6.941      0.000       1.767       3.158
PYF           3.4e-16   1.83e-16      1.861      0.063   -1.81e-17    6.98e-16
QAT            4.8550      1.181      4.110      0.000       2.539       7.171
RUS            9.8068      2.285      4.292      0.000       5.328      14.286
RWA           -3.1115      0.537     -5.795      0.000      -4.164      -2.059
SAU            7.6534      1.795      4.264      0.000       4.135      11.172
SDN            0.6698      0.677      0.990      0.322      -0.657       1.996
SEN           -0.3365      0.292     -1.151      0.250      -0.909       0.236
SGP            8.6245      1.359      6.346      0.000       5.961      11.288
SLB           -4.0802      1.403     -2.908      0.004      -6.830      -1.330
SLE           -2.3678      0.773     -3.063      0.002      -3.883      -0.853
SLV            0.7139      0.317      2.255      0.024       0.093       1.334
SMR         7.543e-15   3.19e-15      2.363      0.018    1.29e-15    1.38e-14
SOM           -4.2609      0.683     -6.243      0.000      -5.599      -2.923
STP           -8.2680      1.993     -4.148      0.000     -12.175      -4.361
SUR           -2.6847      0.669     -4.015      0.000      -3.995      -1.374
SVK            4.1565      0.842      4.937      0.000       2.506       5.807
SVN            3.2141      0.531      6.058      0.000       2.174       4.254
SWE            8.4544      1.674      5.052      0.000       5.174      11.735
SWZ           -0.7248      0.810     -0.895      0.371      -2.312       0.862
SYC           -3.1432      1.258     -2.499      0.012      -5.609      -0.678
SYR        -5.876e-15   2.32e-15     -2.528      0.011   -1.04e-14   -1.32e-15
TCA        -3.836e-16   1.97e-16     -1.948      0.051    -7.7e-16    2.36e-18
TCD           -3.2089      0.366     -8.763      0.000      -3.927      -2.491
TGO           -2.6109      0.761     -3.433      0.001      -4.102      -1.120
THA            9.5552      1.483      6.445      0.000       6.649      12.461
TJK           -3.6313      0.493     -7.371      0.000      -4.597      -2.666
TKM           -1.0498      0.504     -2.084      0.037      -2.037      -0.062
TON           -7.4093      1.804     -4.108      0.000     -10.945      -3.874
TTO            0.7527      0.314      2.396      0.017       0.137       1.368
TUN            2.8502      0.520      5.479      0.000       1.831       3.870
TUR            8.9128      1.839      4.846      0.000       5.308      12.518
TUV           -9.7469      2.992     -3.257      0.001     -15.612      -3.882
TZA            1.5985      0.392      4.076      0.000       0.830       2.367
UGA            0.0615      0.285      0.215      0.829      -0.498       0.621
UKR            5.9815      1.117      5.355      0.000       3.792       8.171
URY            4.3501      0.592      7.343      0.000       3.189       5.511
USA           15.0502      3.278      4.592      0.000       8.625      21.475
UZB            1.0144      0.617      1.645      0.100      -0.194       2.223
VCT           -6.6585      1.603     -4.154      0.000      -9.800      -3.517
VEN            4.1130      1.543      2.665      0.008       1.088       7.138
VNM            7.9949      1.100      7.268      0.000       5.839      10.151
VUT           -5.1857      1.532     -3.385      0.001      -8.188      -2.183
WSM           -5.6906      1.549     -3.673      0.000      -8.727      -2.654
YEM           -0.3070      0.442     -0.695      0.487      -1.173       0.559
ZAF            8.2804      1.436      5.768      0.000       5.467      11.094
==============================================================================
Omnibus:                     1324.763   Durbin-Watson:                   1.745
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3312.305
Skew:                          -0.389   Prob(JB):                         0.00
Kurtosis:                       4.817   Cond. No.                     5.01e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.92e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.