# IPyStata

Using Stata through `%%stata` ipython magic command

In [1]:
import ipystata
from ipystata.config import config_stata
config_stata('/Applications/Stata/StataIC.app/Contents/MacOS/StataIC')

IPyStata is loaded in batch mode.

In [2]:
%%stata  
display "Hello, I am printed in Stata."

Hello, I am printed in Stata.

The data return types aren't always presented

In [3]:
%%stata -gr
sysuse auto
scatter price weight

(1978 Automobile Data)

In [4]:
%%stata
sysuse auto
reg weight price

(1978 Automobile Data)

      Source |       SS           df       MS      Number of obs   =        74
-------------+----------------------------------   F(1, 72)        =     29.42
       Model |  12791822.9         1  12791822.9   Prob > F        =    0.0000
    Residual |  31302355.5        72  434754.937   R-squared       =    0.2901
-------------+----------------------------------   Adj R-squared   =    0.2802
       Total |  44094178.4        73  604029.841   Root MSE        =    659.36

------------------------------------------------------------------------------
      weight |      Coef.   Std. Err.      t    P>|t|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
       price |   .1419244   .0261645     5.42   0.000     .0897663    .1940824
       _cons |   2144.459   178.5954    12.01   0.000     1788.436    2500.483
------------------------------------------------------------------------------

But in `batch` mode the `stata` sessions aren't stateful

In [5]:
%%stata
reg weight price

no variables defined
r(111);

end of do-file
r(111);

There is integration with dataframes using `%%stata -d <df>` if you just want to run regressions on data from python

In [6]:
import yfinance as yf
import pandas as pd
aapl = yf.Ticker("AAPL")
msft = yf.Ticker("MSFT")
aapl_close = aapl.history().Close
msft_close = msft.history().Close

In [7]:
data = pd.DataFrame([aapl_close, msft_close])
data.index = ['aapl', 'msft']
data = data.T

In [8]:
data

                  aapl        msft
Date
2021-03-01  127.790001  236.940002
2021-03-02  125.120003  233.869995
2021-03-03  122.059998  227.559998
2021-03-04  120.129997  226.729996
2021-03-05  121.419998  231.600006
2021-03-08  116.360001  227.389999
2021-03-09  121.089996  233.779999
2021-03-10  119.980003  232.419998
2021-03-11  121.959999  237.130005
2021-03-12  121.029999  235.750000
2021-03-15  123.989998  234.809998
2021-03-16  125.570000  237.710007
2021-03-17  124.760002  237.039993
2021-03-18  120.529999  230.720001
2021-03-19  119.989998  230.350006
2021-03-22  123.389999  235.990005
2021-03-23  122.540001  237.580002
2021-03-24  120.089996  235.460007
2021-03-25  120.589996  232.339996
2021-03-26  121.209999  236.479996
2021-03-29  121.389999  235.240005

In [9]:
%%stata -d data
reg aapl msft

      Source |       SS           df       MS      Number of obs   =        21
-------------+----------------------------------   F(1, 19)        =     11.55
       Model |  46.9120593         1  46.9120593   Prob > F        =    0.0030
    Residual |  77.1751304        19  4.06184897   R-squared       =    0.3781
-------------+----------------------------------   Adj R-squared   =    0.3453
       Total |   124.08719        20  6.20435949   Root MSE        =    2.0154

------------------------------------------------------------------------------
        aapl |      Coef.   Std. Err.      t    P>|t|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
        msft |   .4398038   .1294132     3.40   0.003     .1689388    .7106688
       _cons |   19.18672   30.24207     0.63   0.533    -44.11067    82.48411
------------------------------------------------------------------------------

**Note:** I have not tested this interface widely but would be interested in any user experience feedback if you choose to use this tool